{% extends 'base.html.twig' %}

{% block title %}contenue Article{% endblock %}

{% block body %}
    <h1>Détail article</h1>
    <h2>{{ article.titre }}</h2>
    <p>{{ article.contenu }} </p>

{% endblock %}