{% extends 'base.html.twig' %}

{% block title %}contenue Article{% endblock %}

{% block body %}
    <h1>Détail article</h1>

    <h2>{{ article.titre }}</h2>
    <a class="button" href="{{ path('app_categorie_slug', {slug : article.categorie.slug}) }}">{{ article.categorie.titre }}</a>
    <p>{{ article.contenu }} </p>
    <br>
    <br>



{% endblock %}